# ignore .ipynb_checkpoints folder
.ipynb_checkpoints

# ignore all the setup and venv folders in /Flask App
./'Flask App'/.venv
./'Flask App'/.vscode
./'Flask App'/__pycache__
./'Flask App'/Include
./'Flask App'/Lib
./'Flask App'/Scripts


